POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_DATABASE_URL=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_REALM=

KEYCLOAK_SERVER_URL=
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_SET_URI=
KEYCLOAK_ADMIN_REALM=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=